*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

.navlink{
    text-decoration: none;
    color: black;

}

textarea, input[type="text"],input[type="password"]{
    background: rgb(236, 236, 236);
}

.logo{
    cursor: pointer;
    height: 48px;
    width: 48px;
    padding: 5px;
    border-radius: 50%;
    color: rgb(78, 175, 254);
    font-size: 2rem;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo:hover{
    background: rgb(205, 240, 255);
}

.icon,.button{
    cursor: pointer;
    padding: 5px;
}

.button_primary{
    background: rgb(78, 175, 254);
    color: white;
    border-radius: 23px;
}

.icon:hover{
    background: rgb(154, 154, 154);
    border-radius: 50%;
}

.back-button{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.body_query-result{
    color: white;
    background: rgb(78, 175, 254);
}

.login_page-container{
    height: 100vh;
    display: flex;

    .bg{
        position: absolute;
        z-index: 0;
        color: rgb(78, 175, 254);
        font-size: 50em;
    }

    .login-promo{
        display: flex;
        flex-basis: 50%;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 900;
        background: rgb(161, 213, 255);
        overflow: hidden;

        .login-promo_list{
            z-index: 1;

            .login-promo_list-item{
                margin-bottom: 1.2em;
            }
        }

    }
    .login-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-basis: 50%;
        text-align: center;
        background: white;
        z-index: 3;

        .login-form_slogan{
            margin: 0.2em 0;
        }
        .button{
            padding: 0.3em 1em;
            border-radius: 15px;
            align-self: center;
            font-size: 1.2em;
            font-weight: 800;
            cursor: pointer;
        }
        .button:first-of-type{
            background-color: rgb(78, 175, 254);
            margin-top: 2em;
            color: white;
        }
        .button:nth-of-type(2){
            border: 1px solid rgb(78, 175, 254);
            margin-top: 1em;
            color: rgb(78, 175, 254);
        }
    }
}

.modal_shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(33, 33, 33,0.7);
    z-index: 10;

    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: white;
        padding: 1em 1.3em;
        border-radius: 15px;
        min-width: 320px;
        min-height: 240px;
        z-index: 12;

        .modal-header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        .modal_content{
            align-items: center;
        }
    }
}

.form_container{
    display: flex;
    flex-direction: column;

    input{
        margin-bottom: 1em;
        padding: 0.3em;
        border-radius: 8px;
    }

    button{
        margin-top: 30px;
        padding: 0.3em;
        border-radius: 8px;
    }
}

.messenger_container{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "ls c rs";
    width: 1280px;
    height: 100vh;
    margin: 0 auto;
    font-size: 1.3rem;

    .messenger_area{
        display: grid;
        grid-template-columns: 350px auto;
        height: calc(100vh - 2 * 0.6em);
        border: 1px solid rgb(215, 215, 215);
        border-radius: 20px;
        margin: 0.6em 0.5em;

        .messenger_sidebar{
            border-right: 1px solid rgb(215, 215, 215);
            position: relative;
            overflow: hidden;

            span.search{
                position: absolute;
                top: 0.5em;
                left: 0.5em;
                cursor: pointer;
            }

            input{
                width: 100%;
                padding: 1.1em;
                padding-left: 3em;
                border-radius: 20px 0 0 0;
                border: none;
                outline: none;
            }

            .messenger_contacts{
                .contacts_carousel{
                    position: relative;
    
                    .contacts_carousel-items{
                        display: flex;
                        transition: transform 0.4s ease-in-out;
                    }
    
                    span.left-arrow-icon, span.right-arrow-icon{
                        position: absolute;
                        top: 40.75px;
                        transform: translateY(-50%);
                        background: rgba(255, 255, 255, .7);
                        border-radius: 50%;
                        z-index: 2;
                        cursor: pointer;
                    }
    
                    span.left-arrow-icon{
                        left: 0;
                    }
    
                    span.right-arrow-icon{
                        right: 0;
                    }
                    
                    .carousel-item{
                        margin: 0.5em 0.7em;
                        width: calc(69.8px - 2*0.7em);
                        font-size: 0.7em;
                        text-align: center;
                    }
                }
                
            }

            .messenger_threads{
                margin-top: 1em;
                overflow-y: auto;
                height: calc(100% - 44.31px - 81.53px - 1em);

                .thread-item_container{
                    display: flex;
                    padding-right: 0.5em;

                    .thread-item_avatar{
                        flex-basis: 69.8px;
                        div{
                            margin: 0 auto;
                            margin: 0.4em;
                        }
                    }

                    .thread-item_body{
                        width: calc(100% - 69.8px);
                        padding: 0.4em 0;
                        border-bottom: 1px solid rgb(215, 215, 215);

                        .message{
                            span{
                                color: rgb(194, 194, 194);
                            }
                        }

                        .info{
                            display: flex;

                           .date{
                            margin-left: auto;
                           } 
                        }
                    }

                }

                .thread-item_container:hover{
                    background: rgb(205, 240, 255);
                }
            }
        }

        .messenger_chat{
            display: flex;
            height: calc(100vh - 2 * 0.6em);
            position: relative;
            flex-direction: column;
            align-items: center;

            .chat_message{
                display: flex;
                margin: 1em 2.5em;

                .chat_message-body{
                    display: flex;
                    flex-direction: column;
                    margin-left: 0.5em;
                }
            }

            .chat_header{
                position: sticky;
                top: 0;
                height: 44.31px;
                width: 100%;
                padding: calc((44.3px - 1em) / 2);
                text-align: center;
                border-bottom: 1px solid rgb(215, 215, 215);
            }

            .chat_body{
                display: flex;
                flex-direction: column-reverse;
                overflow-y: auto;
                flex: 1;
                width: 100%;

                .chat_body-date{
                    text-align: center;
                }
            }

            .chat_body-empty{
                flex:1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .chat_input{
                position: sticky;
                bottom: 0;
                height: 80px;
                width: 100%;
                border-top: 1px solid rgb(215, 215, 215);
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .input_container{
                    width: 80%;
                    position: relative;

                    input{
                        width: 100%;
                        padding: 1em;
                        padding-right: 90px;
                        border-radius: 10px;
                        border: 1px solid rgb(215, 215, 215);
                        outline: none;
                    }

                    .icon{
                        position: absolute;
                        top: 5px;
                    }

                    .icon:nth-of-type(1){
                        right: 20px;
                    }

                    .icon:nth-of-type(2){
                        right: 50px;
                    }
                }
            }
        }
    }
}

.left_sidebar{
    margin: 0.3em 0.5em;
    margin-bottom: 0;
    position: sticky;
    top: 0;
    max-height: 100vh;

    ul > li{
        margin: 0.3em 0;
        padding: 0.5em 0.2em;
    }

    ul > li:hover{
        background: rgb(205, 240, 255);
        border-radius: 25px;
    }
}

.home_container{
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
    grid-template-areas: "ls c rs";
    width: 1280px;
    margin: 0 auto;
    font-size: 1.3rem;

    .home_left-sidebar{
        grid-area: ls;
    
        .button{
            padding: 0.5em 0.8em;
            margin-top: 0.8em;
            background: rgb(78, 175, 254);
            color: white;
            font-weight: 800;
            border-radius: 25px;
            cursor: pointer;
            text-align: center;
        }
    }
    .home_content{
        grid-area: c;
        min-height: 100vh;
        border-left: 1px solid rgb(215, 215, 215);
        border-right: 1px solid rgb(215, 215, 215);
        padding: 0.3em 0.5em;
        position: relative;

    }
    .home_right-sidebar{
        grid-area: rs;
        position: sticky;
        top: 0;
        max-height: 100vh;

        .right-sidebar_header{
            height: 48px;
            position: relative;

            .right-sidebar_search{
                margin: 0.8em;
                padding: 0.5em 2.9em 0.5em 0.8em;
                height: 35px;
                min-width: 90%;
                border-radius: 30px;
            }
            .right-sidebar_search-icon{
                position: absolute;
                top: 50%;
                transform: translate(-48px,-30%);
                cursor: pointer;
            }
        }

        .right-sidebar_recommendations{
            margin: 0.8em;
            padding: 0.4em;
            background: rgb(236, 236, 236);
            border-radius: 10px;
        }

    }
}

.serach-page_container{
    .search_sticky{

        position: sticky;
        top: 0;
        margin: 0 -0.5em;
        background: rgba(white,0.85);

        .search_header{
            display: flex;
            justify-content: space-evenly;
            .search_input-container{
                text-align: center;
                position: relative;
    
                .search_input{
                    font-size: 1em;
                    margin: 0.8em;
                    padding: 0.5em 2.9em 0.5em 1em;
                    height: 48px;
                    width: 460px;
                    border-radius: 30px;
                }
    
                .search_input-icon{
                    position: absolute;
                    top: 50%;
                    transform: translate(-60px,-45%);
                    cursor: pointer;
                }
    
            }
    
            .hidden{
                width: 30px;
                height: 30px;
                padding: 5px;
            }
    }
    }

    .search_controllers{
        display: flex;
        justify-content: space-evenly;
        .search_controllers-item{
            height: 48px;
            padding: 0px 20px;
            cursor: pointer;
        }

        .search_controllers-item:hover{
           border-bottom: 5px solid rgb(78, 175, 254);
        }

        .search_controllers-item-active{
            border-bottom: 5px solid rgb(78, 175, 254);
            font-weight: 800;
         }
    }

}

.home_new-tweet{
    display: flex;
    margin: 0.8em 1em;
    padding-bottom: 0.8em;

    .button{
        padding: 0.5em 0.8em;
        margin-left: 5em;
        background: rgb(78, 175, 254);
        color: white;
        font-weight: 800;
        border-radius: 25px;
    }
    .home_new-tweet_textarea{
        flex: 1;
        align-self: center;
        textarea{
            width: 100%;
            height: 50px;
            max-height: 50px;
            border-radius: 30px;
            padding: 0.5em 0.8em;
            resize: none;
        }
    }
    .home_new-tweet_controllers{
        display: flex;
        justify-content: space-between;
        margin: 0 1em;

        .icons{
            display: flex;
        }
    }

    .attachments{
        .attachments_item{
            max-width: 150px;
            max-height: 150px;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.avatar-sm{
    overflow: hidden;
    width: 50px;
    height: 50px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.avatar{
    overflow: hidden;
    width: 100px;
    height: 100px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.profile_avatar{
    border: 3px solid white;
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    width: 120px;
    height: 120px;
    z-index: 2; 
}

.profile_container{
    input{
        width: 100%;
        border-radius: 23px;
        padding: 0.3em;
        margin-bottom: 0.5em;
    }
    label{
        font-size: 0.7em;
        margin-left: 0.3em;
    }
}

.tweet_avatar{
    border-radius: 50%;
}

.tweet-avatar_default{
    border-radius: 50%;
    font-size: 2.5rem;
    background: rgb(233, 255, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.profile_container{

    .avatar_container{
        align-self: center;
        margin-bottom: 0.5em;
    }

    .profile_hero{
        width: calc(100% + 1em);
        height: 250px;
        margin-right: -0.5em;
        margin-left: -0.5em;
        position: relative;
    
        .cta{
            height: calc(60px + 0.5em + 6px);
            width: 100%;
            background: white;
            position: absolute;
            bottom: 0;
    
            .button{
                background: white;
                color: rgb(78, 175, 254);
                border: 1px solid rgb(78, 175, 254);
                border-radius: 25px;
                cursor: pointer;
                position: relative;
                left: calc(100% - 250px);
                text-align: center;
    
                padding: 0.5em 0.8em;
                margin-top: 10px;
                font-weight: 800;
                width: 220px;
            }
        }
    }

    .profile_info{
        .name{
            font-weight: 900;
        }

        .login, .personal-info{
            color: rgb(162, 162, 162);
        }

        .icon-info{
            font-size: 0.9em;
            color: black;
            margin-right: 0.2em;
        }

        .about{
            margin: 1em 0;
        }

        .webpage, .registration-date{
            margin-left: 0.8em;
        }

        .personal-info_third-line{
            margin-top: 0.5em;
            span{
                font-weight: 800;
                color: black;
            }
        }
        .personal-info_third-line > div{
            margin-right: 0.5em;
            display: inline-block;
        }

    }
    .profile_panel{
        display: flex;
        margin: 0.9em 0;
        color: rgb(78, 175, 254);
        font-weight: 900;
        .item{
            flex: 1;
            text-align: center;
            padding: 1em 0;
            cursor: pointer;
        }
        .item:hover, .item-active{
            border-bottom: 3px solid rgb(78, 175, 254);
        }
    }
}

.tweet_controllers{
    display: flex;
    justify-content: space-around;
    margin: 1em 1.5em;

    .controller_info{
        font-size: 0.8em;
        
    }
}

.tweet_body{

    .tweet_attachments{
        max-width: 350px;
        max-height: 350px;
        overflow: hidden;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.selected-tweet_body{

    .selected-tweet_attachments{
        max-width: 500px;
        max-height: 500px;
    }
}

.tweet_container{
    display: flex;
    padding: 0.25em 1.5em;
    color: black;
    margin: 0 -0.5em;
    
    .tweet_info{
        flex:1;
        margin-left: 0.5em;

        .tweet_header_name{
            font-weight: 900;
        }

        .tweet_header_login,.tweet_header_date{
            color: rgb(162, 162, 162);
        }

    }
}

.retweet_container{
    margin: 0 -0.5em;

    .retweet_header{
        margin-left: calc(1.5em + 100px + 0.5em);
        font-size: 0.8em;
        font-weight: 600;
        color: rgb(115, 115, 115);
    }

    .tweet_container{
        margin: 0;
    }
}

.tweet_container:hover{
    background: rgb(236, 236, 236);
}

.retweet_container:hover{
    .retweet_header-wrapper,.tweet_container{
        background: rgb(236, 236, 236);
    }
}

.tweet_reply{
    width: 80%;
    position: relative;
    left: 15%;
}

.selected-tweet_tree{
    overflow: hidden;

    .selected-tweet_tree-item .tweet_container > a.navlink{
        position: relative;
    }
    .selected-tweet_tree-item .tweet_container > a.navlink:after{
        content: '';
        border: 1px solid rgb(193, 193, 193);
        position: absolute;
        left: 50%;
        height: 200%;
        pointer-events: none;
    }
}

.selected-tweet_container{

    margin: 0.8em 1em;

    .selected-tweet_tree-root .selected-tweet_user{
        position: relative;
    }

    .selected-tweet_tree-root .selected-tweet_user:before{
        content: '';
        border: 1px solid rgb(193, 193, 193);
        position: absolute;
        left: 50px;
        height: 0.8em;
        pointer-events: none;
        transform: translateY(-0.8em);
        z-index: -1;
    }

    .selected-tweet{

        border-bottom: 1px solid black;

        .selected-tweet_user{
            display: flex;
    
            .userinfo{
                align-self: center;
                margin-left: 0.5em;
    
                .userinfo_username{
                    font-weight: 700;
                }
            }
        }
    
        .selected-tweet_body{
            margin: 1.3em 0.5em;
            font-size: 1.2em;
        }

        .selected-tweet_date{
            color: rgb(162, 162, 162);
        }
    }

}